_pyproject.toml
src/isopeptor.egg-info
src/isopeptor/resources/jess/*.o
src/isopeptor/resources/jess/jess
build/
**__pycache__
tests.ipynb
data/resources/structures
tmp
converted_models
dist
poetry.lock
results.csv