# Source files
recursive-include src/isopeptor/resources/jess *.c
recursive-include src/isopeptor/resources/jess *.h
include src/isopeptor/resources/jess/Makefile

# Data
recursive-include src/isopeptor/resources/data/template_structures *.pdb
recursive-include src/isopeptor/resources/data/templates

# Model
include src/isopeptor/resources/model/model.pkl

# Documentation
include README.md
include LICENSE